header {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 2rem;
    color: #333;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 20px;
    padding-bottom: 120px;
    background-color: #f9f9f9;
    color: #333;
}


.product-item {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    transition: all 0.3s ease;
}

.product-item:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.product-item h3 {
    font-size: 1.0rem;
    margin-bottom: 10px;
}

.product-item p {
    margin-bottom: 5px;
}

.product-item img {
    width: 100%;
    max-width: 200px;
    height: auto;
    display: block;
    margin: 0 auto 20px auto;
}

.product-item button {
    background-color: red; 
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 2px;
}

.notification-popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
    z-index: 1000; 
    max-width: 300px;
    text-align: center;
}

.total {
    font-size: 1.5rem; 
    margin-top: 10px;
    text-align: right;
}

#checkout-container {
    display: flex;
    justify-content: flex-end; 
    padding-right: 20px;
}

#checkout-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 20px;
}

#checkout-button:hover {
    background-color: #45a049;
}



